@media only screen and (min-width:2560px) {
    header {
        nav {
            .list {
                li {
                    a {
                        font-size: 2.9rem;
                        margin-left: 1rem;
                    }
                }
            }
        }

        .logo {
            .logo-nav {
                width: 26rem;
                height: 26rem;
            }
        }
    }

    main {
        .flechas {
            width: 2%;
        }

        .center {
            .title {
                font-size: 5.5rem;
            }

            .subt {
                font-size: 4.5rem;
            }

            .ocupa {
                width: 75%;
            }

            .description {
                font-size: 2rem;
                background-color: #bb93bb;
                text-align: $centrado;
                margin: $nulo 57rem;
                border: 0.5rem double;
                padding: 1rem $nulo;
                transform: translateY(-40px);
            }
        }

        .grid-container1 {
            height: 80rem;
            margin-left: 15rem;
            margin-bottom: 11rem;
            margin-top: 3rem;
            row-gap: 6rem;

            .grid-item1A {
                margin-left: 21rem;
                padding-left: 2.4rem;
                width: 50%;

                h2 {
                    text-align: start;
                    font-size: 3.5rem;
                    margin-top: 3.3rem;
                }

                ul{
                    li{
                        text-align: start;
                    }
                }
                .list {
                    li {
                        font-size: 2.5rem;
                    }
                }
            }

            .grid-item2A {
                width: 55%;
                margin-left: 6.5rem;

                .size-nena {
                    animation-name: foto-nena;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-duration: 5s;
                    animation-delay: 0s;
                }
            }

            .grid-item3A {
                margin: $nulo 19rem $nulo 4rem;

                h2 {
                    font-size: 3.6rem;
                }
            }

            .grid-item4A {
                .video1 {
                    margin-left: 18rem;
                }
            }
        }

        .ult-bloque {
            background-color: #d9aad9;
            margin-left: 35rem;
            margin-right: 30rem;
            border-radius: 0.3rem;
            div {
                margin-left: 6rem;

                .subt {
                    font-size: 3.5rem;
                    border-bottom: 0.3rem dotted;
                    padding: 0.5rem;
                }

                .list {
                    font-size: 2.3rem;
                }
            }

            .div-video2 {
                margin: $nulo;
                margin-left: 4rem;
                transform: translateY(70px);

                .video2 {
                    -webkit-box-shadow: 2px 8px 25px 4px rgba(117,76,117,1);
                    -moz-box-shadow: 2px 8px 25px 4px rgba(117,76,117,1);
                    box-shadow: 2px 8px 25px 4px rgba(117,76,117,1);
                    width: 95%;
                }
            }
        }

        .esperamos {
            .subt {
                margin-top: 9rem;
                font-size: 3.3rem;
            }
        }
    }

    //NOSOTROS
    main {
        .grid-container2 {
            margin-left: 15rem;
            grid-template-rows: 5% 28% 28% 35% 4%;
            height: 170rem;
            width: 80%;
            row-gap: 1.5rem;
            margin-bottom: 3rem;

            //Titulo
            .grid-item1B {
                .title {
                    font-size: 5.5rem;
                    margin-top: $nulo;
                }
            }

            //Imagen
            .grid-item2B {
                img {
                    width: 60%;
                    margin-left: 14rem;
                }
            }

            //Parrafo
            .grid-item3B {
                margin: 9rem 5rem;
                border-radius: 0.6rem;

                h2 {
                    margin-top: 6.2rem;
                    font-size: 3.5rem;
                }

                .description {
                    margin: 2rem 4rem;
                    font-size: 2.35rem;
                }
            }

            //Imagen
            .grid-item4B {
                img {
                    width: 65%;
                    margin-left: 9rem;
                }
            }

            //Parrafo
            .grid-item5B {
                margin: 7rem 5rem;
                border-radius: 0.6rem;

                h2 {
                    margin-top: 6.8rem;
                    font-size: 3.5rem;
                }

                .description {
                    margin: 2rem 4rem;
                    font-size: 2.35rem;

                }
            }

            //Imagen 
            .grid-item6B {
                margin-top: 4rem;

                img {
                    width: 45%;
                    height: 97%;
                }
            }

            //Parrafo
            .grid-item7B {
                .description {
                    font-size: 2.4rem;
                    margin: $nulo 38rem;
                    transform: translateY(-95px);
                }
            }

        }
    }

    //EVENTOS
    .events-main {
        section {
            margin-left: 14rem;
            div {
                .title {
                    font-size: 5.5rem;
                }
            }
            section{
                .subt {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    font-size: 4.5rem;
                    margin-right: 3rem;
                }
                div{
                    .description {
                        font-size: 2.5rem;
                        border: 0.5rem double;
                        background-color: #bb93bb;
                        padding: 1rem;
                        margin-right: 3.2rem;
                        text-align: $centrado;
                    }
                }
            }
            .center {
                .x {
                    margin-left: 2rem;
                    margin-right: 2rem;
                    .description {
                        font-size: 2.5rem;
                        background-color: #bb93bb;
                        margin: $nulo;     
                        margin-right: 2rem;    
                        margin-top: 4rem;                       
                    }
                }
            }
        }
        
    }

    //SEDES
    main {
        .grid-container3 {
            height: 60rem;
            grid-template-rows: 8% 70% 22%;

            .grid-item2C {
                width: 80%;

                img {
                    margin-left: 17rem;
                    height: 100%;
                }
            }

            .grid-item3C {
                margin: $nulo 25rem;
                margin-right: 32rem;

                h2 {
                    margin-top: 0.2rem;
                    font-size: 3.2rem;
                    text-align: $centrado;
                }

                .description {
                    font-size: 2.3rem;
                }
            }
        }

        .grid-container4 {
            width: 60%;
            margin-left: 30rem;
            height: 70rem;

            .grid-item1D {
                .subt {
                    font-size: 3.3rem;
                }
            }

            .grid-item3D {
                margin-top: 1.6rem;

                img {
                    width: 12%;
                }
            }

            .grid-item5D {
                margin-top: 1.6rem;

                img {
                    width: 12%;
                }
            }

            .grid-item7D {
                margin-top: 1.6rem;

                img {
                    width: 12%;
                }
            }

            .grid-item9D {
                margin-top: 1.6rem;

                img {
                    width: 12%;
                }
            }
        }
        .veni{
            h3{
                text-align: $centrado;
                @include tit-subt($font, 3rem, bolder,$color-princ, $centrado);
            }
        }
    }

    //CONTACTO
    main{
        .contact{
            width: 80%;
            margin-left: 15rem;
        }
    }
    

    //FOOTER
    footer {
        margin-right: 7rem;

        .logo {
            .logo-nav {
                @include log-nav(26rem, 26rem);
            }
        }

        div {
            .seguinos {
                h2 {
                    font-size: 3rem;
                }

                .redes {
                    width: 5rem;
                }
            }

            .center {
                h3 {
                    font-size: 2.6rem;
                }

                .list {
                    li {
                        font-size: 2.3rem;
                        margin: 1.3rem;
                    }
                }
            }
        }
    }

    .fijo {
        width: 5rem;
    }
}