footer {
    color: #aa16ab;
    font-size: 1rem;
    font-family: $font;
    border-top: 0.15rem solid #f1b9f1;

    .logo {
        @include log(100%, $centrado);

        .logo-nav {
            @include log-nav(7rem, 7rem);
        }
    }



    div {
        .seguinos {

            h2 {
                font-weight: bold !important;
            }

            display: $flex;
            align-items: $centrado;
            justify-content: $centrado;

            .redes {
                width: 2.5rem;
                margin-left: 0.5rem;
            }
        }

        .center {
            .list {
                li {
                    margin: 0.6rem;
                }
            }
        }
    }
}