/* iNICIO - PESTAÑA 1*/
main {
    .center {

        //Tamaño imagen del equipo
        .ocupa {
            width: 90%;
            margin-top: 1rem;
            border: 0.4rem double rgb(187, 171, 171);
        }

        .description {
            background-color: #bb93bb;
            padding: 0.2rem;
            border-radius: 0.3rem;
            border: double;
            text-align: $centrado;
            font-size: 0.8rem;
            transform: translateY(-30px);
        }
    }

    // Grids en el main
    .grid-container1 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 30% 17% 53%;
        margin: 2rem;
        margin-top: $nulo;
        gap: 1.5rem;
        height: 55rem;

        //Grid item 1, subtitulo con lista
        .grid-item1A {
            background-color: #bb93bb;
            border-radius: 1.3rem;
            border-style: double;
            border-color: #eec8ee;
            grid-row: 1/2;

            h2 {
                font-size: 1.3rem;
                margin: $nulo;
                margin-top: 0.5rem;
                text-align: $centrado;
                color: #641164fb;
            }

            ul {
                padding: $nulo;

                li {
                    margin-top: 0.45rem;
                    text-align: $centrado;
                    color: #641164fb;
                }
            }
        }

        //Grid item2, imagen
        .grid-item2A {
            grid-row: 2/3;

            .size-nena {
                width: 94%;
                height: 90%;
                border-radius: 1rem;
                border: 0.2rem solid white;
                animation-name: foto-nena;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-duration: 5s;
                animation-delay: 0s;
                margin-left: 0.3rem;
                margin-top: 0.6rem;
            }
        }

        //Grid item 3, h2 
        .grid-item3A {
            grid-row: 3/4;
            animation-name: cartel;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 2s;
            animation-delay: 0s;

            h2 {
                text-align: $centrado;
                margin: 2rem 1rem;
                font-size: 2rem;
                color: #641164fb;
                font-family: $font;
                background: rgb(228, 186, 203);
                background: linear-gradient(90deg, rgba(228, 186, 203, 1) 5%, rgba(215, 128, 167, 1) 63%, rgba(210, 83, 210, 1) 100%);
                border-radius: 0.2rem;
            }
        }

        //Grid item 4, video de entrenamientos y preparacion fisica
        .grid-item4A {
            grid-row: 4/5;
            text-align: $centrado;

            .video1 {
                width: 90%;
                height: 100%;
                border-radius: 0.4rem;
            }
        }
    }

    //Fin de los grids-items
    //Ultimo bloque del inicio
    .ult-bloque {
        margin-top: 16rem;
        text-align: $centrado;

        div {
            p {
                border-bottom: 0.2rem dotted;
                padding-bottom: 0.5rem;
                margin-left: 1rem;
                margin-right: 1rem;

                span {
                    color: #e634e6;
                }
            }

            ul {
                padding: $nulo;
                margin-top: 1rem;

                li {
                    margin: 0.7rem;
                    color: #641164fb;
                }
            }
        }

        .div-video2 {
            margin-bottom: 1rem;

            .video2 {
                width: 70%;
                height: 70%;
                border-radius: 0.4rem;
            }
        }
    }

    .esperamos {
        h2 {
            margin: 1rem;
        }
    }
}