main{
    /* Grids en el main*/
    .grid-container2 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 4% 23% 9% 24% 8% 24% 6%;
        margin: 1rem;
        margin-top: $nulo;
        height: 80rem;
        gap: 0.8rem;
        /* Titulo */
        .grid-item1B {
            grid-row: 1/2;
            display: $flex;
            align-items: $centrado;
            .grid-item1B h1 {
                margin: $nulo;
                text-align: $centrado;
            }
        }
        /* Imagen */
        .grid-item2B {
            grid-row: 2/3;
            display: $flex;
            align-items: $centrado;
            img{
                width: 95%;
                height: 95%;
                border: 0.4rem double rgb(187, 171, 171);
            }
        }
        /* Parrafo */
        .grid-item3B {
            grid-row: 3/4;
            h2{
                padding: 4px;
                @include tit-subt($font,1.3rem,bolder,#641164fb,$centrado)
            }
            p{
                margin: $nulo;
            }
        }
        //Imagen
        .grid-item4B {
            grid-row: 4/5;
            display: $flex;
            align-items: $centrado;
            img{
                width: 95%;
                height: 95%;
                border: 0.4rem double rgb(187, 171, 171);
            }
        }
        //Parrafo
        .grid-item5B {
            grid-row: 5/6;
            h2{
                padding: 4px;
                @include tit-subt($font,1.3rem,bolder,#641164fb,$centrado)
            }
            p{
                margin: $nulo;
            }
        }
        //Imagen
        .grid-item6B{
            grid-row: 6/7;
            display: $flex;
            align-items: $centrado;
            img{
                width: 95%;
                height: 95%;
                border: 0.4rem double rgb(187, 171, 171);
            }
        }
        //Parrafo
        .grid-item7B {
            grid-row: 7/8;
            p{
                background-color: #bb93bb;
                margin: $nulo;
                text-align: $centrado;
                border-radius: 0.2rem;
                transform: translateY(-30px);
                box-shadow: 8px 5px 39px 0px rgba(70, 17, 77, 0.78);
                -webkit-box-shadow: 8px 5px 39px 0px rgba(87, 23, 95, 0.78);
                -moz-box-shadow: 8px 5px 39px 0px rgba(99, 22, 109, 0.78);
            }
        }
    }
}