//TODO LO QUE HAGA ACA ES MOBILE, LAS DEMAS PANTALLAS ESTARÁN EN MEDIAS-QUERIES
//MARGEN A TODO NULO
* {
    margin: $nulo;
}

//LOGO DE WHATS APP FIJO EN TODAS LAS PAGINAS
.fijo {
    position: fixed;
    right: 1.8rem;
    bottom: 0.8rem;
    width: 2rem;
}

//CENTRADO
.center {
    text-align: $centrado;
}

//FONDO DE PANTALLA A TODA LA PAGINA
body {
    background-color: #ffe0ee;
}

//ENLACES
a {
    @include tit-subt($font, none, bolder, #aa16ab, none);
    text-decoration-line: none;
}

//TITULOS
.title {
    @include tit-subt($font, 2rem, bold, $color-princ, $centrado);
    margin: $nulo 1rem;
}

//SUBTITULOS
.subt {
    @include tit-subt($font, 1.5rem, bolder, $color-princ, $centrado);
}

//DESCRIPCIONES
.description {
    @include tit-subt($font, 1rem, none, #73626E, justify);
    margin: 1rem 1.5rem;
}

//FLECHAS PARA SUBIR Y BAJAR DIRECTAMENTE
.flechas {
    width: 7%;
}


.list {
    list-style-type: none;
    text-align: $centrado;
    padding: $nulo;
    margin: $nulo;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}